.bgimg1 {
	background-image: url(../img/background_1.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#topblock {
	height: 80%;
}

#clock {
	color: white;
	text-align: center;
	background-color: #e9ecef7a;
	margin-bottom: 0;
}


body, html	{
	margin: 0;
	padding: 0;
	height: 100%;

}
h1 {
	color: blue;
}